@model Product.Model.ProductOfferModel

<div class="modal" id="SendOffer" tabindex="-1">
    <div class="modal-body" id="ModalBody">

        <div class="card rounded-0" style="width:241px;">

            @using (Html.BeginForm("Notification", "Home", FormMethod.Post, new { @enctype = "multipart/form-data", @id = "ModalData" }))
            {
                <div class="card-header align-content-center bgSeagreen rounded-0">
                    <h4 class="card-title text-center text-white">Your Offer</h4>

                    @*@Html.HiddenFor(model => model.OfferId, new { htmlAttributes = new { @class = "form-control", @value = Model.OfferId } })*@
                    @Html.HiddenFor(model => model.SenderId, new { htmlAttributes = new { @class = "form-control", @value = Model.SenderId } })
                    @Html.HiddenFor(model => model.ReceiverId, new { htmlAttributes = new { @class = "form-control", @value = Model.ReceiverId } })
                    @Html.HiddenFor(model => model.ProductId, new
                    {
                        htmlAttributes = new
                        {
                            @class = "form-control",
                       @value = Model.ProductId
                        }
                    })
                    @Html.EditorFor(model => model.OfferPrice, new { htmlAttributes = new { @class = "form-control inputOffer", @placeholder = "$" } })
                </div>
                <div class="card-body text-center">
                    <i class="fa fa-plus-square-o text- txtSeagreen" aria-hidden="true"></i>
                    <a href="#" class="txtSeagreen">Add Message to Seller</a>
                    <p class="card-text text-center mt-3">By clicking Submit Offer, you are agreeing to and entering into a legally binding contract to purchase the item from the seller at your Offer Price.</p>
                    <button class="btn btn-sm bgSeagreen rounded-0 my-3 text-white">Submit Offer</button>
                </div>
            }
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


<style>
    .inputOffer {
        height: 55px;
        width: 190px;
        border: none;
        text-align: center;
    }
</style>
