@model IEnumerable<Product.Model.ProductModel>
@{
    ViewBag.Title = "Index";
}

<div class="container">
        <div class="row">
            <div class="col">
                  @*Html.Partial("~/Views/Shared/_GetAllProducts.cshtml")*@
                @{
                    Html.RenderAction("GetAllProductsForCurrentUser", "Product");
                }
            </div>
        </div>
</div>
